.vijesti {


    &__feat {
        height: 40rem;
        background: url("/assets/images/vijesti/vijest.jpg")center/cover no-repeat;
         position: relative;
      
        &--title {
          background: rgba(0,0,0, .4);
          padding: 1.5rem;
          width: 99%;
          position: absolute;
          bottom: 0;
          left: 3px;
          text-align: center;
        }
        &--link {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }
        &--link:hover {
        
            color: #194E87;
        
        }
    }




    &__kockice {

        &--card {
            height: 20rem;
            max-height: 20rem;
            min-height: 20rem;
           width: 80%;


           &:hover .vijesti__kockice--desc {
            color: #194E87;
           }

           &--1 {
               margin-top: 1rem;
           }
           &--2 {
               margin-top: 1rem;
           }

        }
 
        &--image {
            width: 100%;
            height: 12rem;
            
            &--1 {
                background: url("/assets/images/vijesti/vijest2.jpg")center/cover no-repeat;
            }
            &--2 {
                background: url("/assets/images/vijesti/vijest3.jpg")center/cover no-repeat;
            }
            &--3 {
                background: url("/assets/images/vijesti/vijest4.jpg")center/cover no-repeat;
            }
            &--4 {
                background: url("/assets/images/vijesti/vijest5.jpg")center/cover no-repeat;
            }
        }

        &--desc {
          background: rgba(0,0,0,.1);
          color: #000;
          padding: .5rem;
          font-size: 1.2rem;
          height: 6.6rem;


          text-align: center;
          
        }

    
    }
}